# macOS
.DS_Store

# Go build/test
*.test
*.out
*.prof
*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*
*.com
*.class
*.dll
*.exe
*.o
*.so

# Archives
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Logs and databases
*.log
*.sqlite
*.db


# Artifacts
artifacts/

# Worker & Backend
worker/storage/logs/
worker/outputs/
worker/worker/
worker/.cache/
worker/doc/contentLLM/temp.md
backend/storage/logs/

# Env files
.env

# History
.history

# 排除所有 .env 文件
**/.env

# 排除所有临时文件
**/tmp/
**/.tmp/
**/*.log
**/*.out
**/*.prof
**/*.test
**/main
**/.air.toml
