TTS_TENCENT_SECRET_ID=
TTS_TENCENT_SECRET_KEY=
TTS_PROVIDER=tencent
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=video
RABBITMQ_PASSWORD=video123
RABBITMQ_VHOST=video_saas
RABBITMQ_EXCHANGE=video.tasks
RABBITMQ_EXCHANGE_TYPE=direct
RABBITMQ_QUEUE=video.tasks.generate
RABBITMQ_ROUTING_KEY=video.generate
RABBITMQ_DLX=video.tasks.dlx
RABBITMQ_DLQ=video.tasks.generate.dlq
RABBITMQ_DLQ_ROUTING_KEY=video.generate.dlq
RABBITMQ_RETRY_QUEUE=video.tasks.generate.retry
RABBITMQ_RETRY_ROUTING_KEY=video.generate.retry
RABBITMQ_RETRY_DELAY_MS=10000
SEEDANCE_API_KEY=
SEEDANCE_DRY_RUN_ENABLE=false
BGM_ENABLE=false
TTS_API_URL=
TTS_API_KEY=
S3_ENABLED=false
S3_ENDPOINT=
S3_REGION=us-east-1
S3_BUCKET=
S3_ACCESS_KEY=
S3_SECRET_KEY=
S3_PUBLIC_URL=
